---
---
@import "theme";

main {

    p {
        text-align: center;
    }
}

.clearcut {
    img {
        width: 100%;
    }
    @include breakpoint(tablet) {
        width: 75%;
        display: block;
        margin: auto;
        min-width: 640px;
        max-width: 960px;
    }
}
